.inscricoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  margin-bottom: 96px;
}

/* HERO */
.inscricoes-hero {
  text-align: center;
  max-width: 700px;
}

.inscricoes-hero h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}

.hero-logo {
  width: 120px;
  margin: 24px 0;
}

.inscricoes-hero p {
    text-align: left;
    font-size: 15px;
    line-height: 1.7;
}

/* FORM CARD */
.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-outer {
  background: var(--dark);
  border-radius: 48px;
  padding: 32px;
  width: 100%;
  max-width: 720px;
  box-shadow:
    inset 0 7px 0 #515151,
    inset 0 -7px 0 rgba(0,0,0,0.4);
}

.form-inner {
  background: var(--white);
  border-radius: 36px;
  padding: 48px 32px;
  text-align: center;
  box-shadow: inset 0 7px 0 #A4A4A4;
}

.form-inner h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 32px;
  color: #333;
}

.form-btn {
  background: #4a4a4a;
  color: #fff;
  border: none;
  padding: 14px 64px;
  border-radius: 15px;
  font-family: 'Sono', monospace;
  font-size: 15px;
  cursor: pointer;

  box-shadow:
    inset 0 5px 0 #A4A4A4,
    inset 0 -5px 0 rgba(0,0,0,0.4);
}

.form-btn:hover {
    background: #5a5a5a;
  box-shadow:
    inset 0 2px 0 #A4A4A4,
    inset 0 -2px 0 rgba(0,0,0,0.5);
  transform: translateY(-1px);
}


/* EXTRA FORMS */
.extra-forms {
  background: var(--dark);
  border-radius: 48px;
  padding: 48px 32px;
  max-width: 720px;
  width: 100%;
  text-align: center;
  box-shadow:
    inset 0 12px 0 #515151,
    inset 0 -10px 0 rgba(0,0,0,0.4);
}

.extra-forms p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 32px;
}